<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog{% if title %} | {{ title }}{% endif %}</title>
</head>
<body>
    <header>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>&nbsp;| <a href="{{ url_for('explore') }}">Explore</a> 
        {% if current_user.is_anonymous %} | <a href="{{ url_for('signin') }}">Login</a> | <a href="{{ url_for('signup') }}">Register</a>
        {% else %}
| <a href="{{ url_for('profile', username=current_user.username) }}">Profile</a> | <a href="{{ url_for('signout') }}">Logout</a> 
        {% endif %}
    </header>
    <hr>{% with messages = get_flashed_messages() %}{% if messages %}
    <div>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>{% endif %}{% endwith %}{% block content %}{% endblock %}
</body>
</html>
