{% extends 'base.html' %}
{%block content %}
    <h1>Reset Your Password</h1>
    <hr>
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.conf_password.label }}<br>
                {{ form.conf_password(size=32) }}<br>
                {% for error in form.conf_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>{% endblock %}
